<div class="Main">
  <div class="Head">
    <app-add-dialog
     [piIcon]="'pi pi-ticket'"
     [dialogTitle]="'Theater'"
     [title]="'Add Theater Details'"
     [fields]="formFields"
     (formSubmit)="handleFormSubmit($event)"
     [btnName]="'Add Theater'"
    ></app-add-dialog>

  </div>
  <div class="Table">
    <app-data-table
      [data]="theater"
      [columns]="theaterColumns"
      [showEdit]="true"
      [showBlock]="true"
      [columns]="theaterColumns"
      (delete)="deleteTheater($event)"
    ></app-data-table>
  </div>
</div>
