<div class="sidebar" [class.open]="isOpen">
  <!-- Arrow button to toggle the sidebar -->
  <button class="toggle-bars" (click)="toggleSidebar()">
    <i class="pi" [ngClass]="isOpen ? 'pi-times' : 'pi-bars'"></i>
  </button>
  <ul>
    <ul>
      <li>
        <a
          routerLink="users"
          (click)="logNavigation('admin/users')"
          routerLinkActive="active"
          >Users</a
        >
      </li>
      <li>
        <a
          routerLink="movies"
          (click)="logNavigation('admin/movies')"
          routerLinkActive="active"
          >Movies</a
        >
      </li>
      <li>
        <a
          routerLink="theaters"
          (click)="logNavigation('admin/theaters')"
          routerLinkActive="active"
          >Theaters</a
        >
      </li>
    </ul>
  </ul>
</div>
