<div>
  <app-user-menubar></app-user-menubar>
</div>

<div class="filter-section">
  <input
    type="text"
    placeholder="Search by Theater Name..."
    [(ngModel)]="searchText"
    (input)="filterTheaters()"
  />
  <button (click)="clearFilter()">Clear</button>
</div>

<div class="show">
  <div class="theaters" *ngFor="let theater of filteredTheaters">
    <h2>{{ theater.name }}</h2>
    <ul>
      <li *ngFor="let show of theater.shows">
        <span>Movie: <strong>{{ show.title }}</strong></span>
        <span>Amount: <strong>{{ show.amount }}</strong></span>
        <span>Date: <strong>{{ show.showStartTime | date : 'yyyy-MM-dd' }}</strong></span>
        <span>Time: <strong>{{ show.showStartTime | date : 'HH:mm' }}</strong></span>
        <button (click)="reserveShow(show)">Book</button>
      </li>
    </ul>
  </div>
</div>
