.userMain {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.userHead {
  background: #ffffff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
}

.userTable {
  flex-grow: 1; /* Ensures it takes the remaining space */
  width: 100%; /* Ensures it stretches across */
}

.user-icon-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #2563eb;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.user-icon-container:hover {
  transform: scale(1.05);
}

.user-icon-container i {
  font-size: 3rem;
  color: #ffffff;
}

.user-text {
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}
