<div class="userMain">
  <div>
    <app-add-dialog
      [piIcon]="'pi pi-user'"
      [dialogTitle]="'User'"
      [title]="'Add User Profile'"
      [description]="'Update your details.'"
      [fields]="formFields"
      (formSubmit)="handleFormSubmit($event)"
      [btnName]="'Add User'"
    ></app-add-dialog>
  </div>

  <div class="userTable">
    <app-data-table
      [data]="users"
      [columns]="userColumns"
      [showEdit]="true"
      [showBlock]="true"
      (save)="updateUser($event)"
      (delete)="deleteUser($event)"
    ></app-data-table>
  </div>
</div>
