<div class="userMain">
  <div class="userHead">
    <div class="user-icon-container">
      <i class="pi pi-user"></i>
      <span class="user-text">User</span>
    </div>
    <div class="addUser">
      <div class="card flex justify-center">
        <p-button
          (click)="showDialog()"
          label="Add User"
         styleClass="custom-button"
        />
        <p-dialog
          header="Add User Profile"
          [modal]="true"
          [(visible)]="visible"
          [style]="{ width: '25rem' }"
        >
          <span class="p-text-secondary block mb-8">Add User </span>
          <div class="flex items-center gap-4 mb-4">
            <label for="username" class="font-semibold w-24">Username</label>
            <input
              pInputText
              id="username"
              class="flex-auto"
              autocomplete="off"
            />
          </div>
          <div class="flex items-center gap-4 mb-8">
            <label for="email" class="font-semibold w-24">Email</label>
            <input pInputText id="email" class="flex-auto" autocomplete="off" />
          </div>
          <div class="flex justify-end gap-2">
            <p-button
              label="Cancel"
              severity="secondary"
              (click)="visible = false"
            />
            <p-button styleClass="custom-button" label="Add" (click)="visible = false" />
          </div>
        </p-dialog>
      </div>
    </div>
  </div>
  <div class="userTable">
    <app-user-list></app-user-list>
  </div>
</div>
