<div class="adminDiv">
  <app-menu-bar></app-menu-bar>
  <div id="admiMain" [class.sidebar-open]="isSidebarOpen">
    <app-admin-sidebar
      (sidebarToggle)="onSidebarToggle($event)"
    ></app-admin-sidebar>
    <div class="content">
      <app-user *ngIf="selectedComponent === 'Users'" ></app-user>
      <app-movie *ngIf="selectedComponent === 'Movies'"></app-movie>
      <app-theaters *ngIf="selectedComponent === 'Theaters'"></app-theaters>
      <app-theater-admin *ngIf="selectedComponent === 'Theater Admin'"></app-theater-admin>
    </div>
  </div>
</div>
