#admiMain {
  display: flex;
  transition: all 0.3s ease-in-out;
  margin-top: 30px;
  width: 97%;
  height: 80vh;
}


.content {
  width: 70%;
  flex-grow: 1;
  margin-left: 60px; 

  transition: margin-left 0.3s ease-in-out;

}


.sidebar-open .content {
  margin-left: 290px; 
}

.adminDiv {
  height: 100vh;
  width: 100vw;
  
  display: flex;
  flex-direction: column;
}