<div class="Main">
  <div class="Head">
    <div class="user-icon-container">
      <i class="pi pi-user-edit"></i>
      <span class="user-text">Admin</span>
    </div>
    <div class="addUser">
      <div class="card flex justify-center">
        <p-button
          (click)="showDialog()"
          label="Add Theater Admin"
          styleClass="custom-button"
        />
        <p-dialog
          header="Add Theater Details"
          [modal]="true"
          [(visible)]="visible"
          [style]="{ width: '25rem' }"
        >
          <span class="p-text-secondary block mb-8">Add Theater </span>
          <div class="flex items-center gap-4 mb-4">
            <label for="username" class="font-semibold w-24">Name</label>
            <input
              pInputText
              id="username"
              class="flex-auto"
              autocomplete="off"
            />
          </div>
          <div class="flex items-center gap-4 mb-8">
            <label for="email" class="font-semibold w-24">Email</label>
            <input pInputText id="email" class="flex-auto" autocomplete="off" />
          </div>
          <div class="flex justify-end gap-2">
            <p-button
              label="Cancel"
              severity="secondary"
              (click)="visible = false"
            />
            <p-button
              styleClass="custom-button"
              label="Add"
              (click)="visible = false"
            />
          </div>
        </p-dialog>
      </div>
    </div>
  </div>
  <div class="Table">
  
  </div>
</div>
