<div class="Main">
  <div>
    <app-add-dialog
      [piIcon]="'pi pi-video'"
      [dialogTitle]="'Movie'"
      [title]="'Edit Movie'"
      [description]="'Add movie details.'"
      [btnName]="'Add Movie'"
      [fields]="formFields"
     (formSubmit)="handleFormSubmit($event)"
    ></app-add-dialog>
  </div>
  <div class="Table">
    <app-data-table
      [data]="movies"
      [columns]="movieColumns"
      [showEdit]="true"
      [showBlock]="true"
      (save)="updateMovie($event)"
      (delete)="deleteMovie($event)"
    ></app-data-table>
  </div>
</div>
