<div class="menu">
  <div class="MenuMain">
    <p-megamenu
      [model]="items"
      [style]="{  display: 'flex' }"
      styleClass="p-1 bg-surface-0 dark:bg-surface-900 w-full"
    >
    <ng-template #end>
        <p-avatar
          image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
          shape="circle"
        />
      </ng-template>
    
      

      <ng-template #item let-item >
        <div class="navEle">
          <a
            *ngIf="item.root"
            pRipple
            class="flex items-center cursor-pointer px-4 py-2 overflow-hidden relative font-semibold text-lg uppercase"
            style="border-radius: 2rem"
          >
            <i [ngClass]="item.icon" class="mt-1"></i>
            <span class="ml-2">{{ item.label }}</span>
          </a>
        </div>
      </ng-template>

      
    </p-megamenu>
  </div>
</div>
