<div class="adminDiv">
  <app-menu-bar></app-menu-bar>
  <div id="admiMain">
    <div class="content">
     <app-add-dialog
      [piIcon]="'pi pi-user-edit'"
      [dialogTitle]="'Theater Admin'"
      [title]="'Add Show Details'"
      [description]="'Update your details.'"
      [btnName]="'Add Show'"
      [fields]="formFields"
      (formSubmit)="handleFormSubmit($event)"
     ></app-add-dialog>
      <div class="Table">
        <app-data-table
        [data]="shows"
        [columns]="theaterColumns"
        ></app-data-table>
      </div>

    </div>
  </div>
</div>
